 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Word-card</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
               

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="#">Categories</a>
                                    <ul class="dropdown">
                                        <li><a href="/word">Word</a></li>
                                        <li><a href="/word/phrase">Phrase</a></li>
                                        <li><a href="/word/card">Card</a></li>
                                        <li><a href="/word/test">Test</a></li>
                                        <li><a href="/exam">Exam</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Search Button -->
                            <!-- <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div> -->

                            <!-- Register / Login -->
                            <div class="register-login-area">
                                <a class="btn active">Hi {{ user.username }}!</a>
                                <button onclick="location.href='/account/logout'" class="btn clever-btn">Logout</button>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    
    <!-- ##### Breadcumb Area End ##### -->
                    

    <!-- ##### Top Teacher Area Start ##### -->
    <section class="top-teacher-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Make your own wordcard!!</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                    <!-- Post A Comment -->
                    <div class="col-12 col-lg-6">
                        <div class="post-a-comments mb-70">    
                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="form-group">

                                            <input name = "card_name" type="text" class="form-control" id="text" placeholder="Card Name">
                                            
                                            <!-- <button class="btn clever-btn w-100" type= "submit" onclick="" name = "find_card">submit</button> -->
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <!-- Single Teacher -->
                <div class="col-12 col-md-6 col-lg-12">
                        {% csrf_token %}
                        {% for i in all_word %}
                        <div class="single-instructor d-flex align-items-center mb-30" style="height:50px">
                            <div style="text-align:center; margin: 0px 30px 0px">
                                <input type="checkbox" value = "{{i}}" name = "{{i.id}}">
                                <span class="checkmark"></span>
                            </div>
                            <div class="instructor-info">
                                <h5>{{i.name}} </h5>
                            </div>
                            

                        </div>
                        {% endfor%}
                        <button class="btn clever-btn w-100" type= "submit" name = "create_card">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="popular-courses-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Single Popular Course -->
                {% for i in all_thing%}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="img/bg-img/c1.jpg" alt="">
                        <!-- Course Content -->  
                        <div class="course-content">
                            <h4>{{i.0}}</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">{{request.user}}</a>
                            </div>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="course-fee h-100">
                                <a href="#" class="free">{{i.1}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Top Teacher Area End ##### -->

        <!-- Bottom Footer Area -->
        
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../static/js/active.js"></script>
</body>

</html>