<!DOCTYPE html>
<html lang="en">
{% load  static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Clever - Education &amp; Courses Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="../static/styleflash.css">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="#">Categories</a>
                                    <ul class="dropdown">
                                        <li><a href="/word">Word</a></li>
                                        <li><a href="/word/phrase">Phrase</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Search Button -->
                            <!-- <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div> -->

                            <!-- Register / Login -->
                            <div class="register-login-area">
                                <a href="#" class="btn">Register</a>
                                <a href="index-login.html" class="btn active">Login</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <main>
        <button id="prev"></button>
        <div id="card">
            <div class="side front">
            </div>
            <div class="side back"></div>
        </div>
        <button id="next"></button>
    </main>
    <footer>
        <div id="count"></div>
    </footer>
    
    

    <!-- ##### Hero Area Start ##### -->
    <!-- <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(img/bg-img/bg1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12"> -->
                    <!-- Hero Content -->
                    <!-- <div class="hero-content text-center">
                        <h2>My WordCard</h2>
                        <a href="#" class="btn clever-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <form action="" method="post" class = "create_food_event" style="position: relative; top: 20px; left: 30%;"> 
    {% csrf_token %}   
        <p>有什麼想新增的單字嗎在這裡輸入吧</p>
        
        
        <input id = "name" type="text" name = "word_name" placeholder="word" style="height:40px ;margin: 0px 10px 0px; padding:5px 15px; border: #ccc 1px solid;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; "
        autocomplete="off"></input>
        <input id = "defnition" type="text" name = "word_def" placeholder="definition" style=" height:40px;padding:5px 15px;  border: #ccc 1px solid;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; "
        autocomplete="off"></input>
        <input type="submit" name = "create_word" class="btn clever-btn" value="送出" style="margin: 0px 10px 0px;"></input>
    </form>
    <p id="demo"></p>
    <p id="demo1"></p>
    <!-- <div style="margin: 0px 10px 0px;">
        {% for i in all_word %}
        word_name: {{i.name}}<br>
        word_definition: {{i.definition}}<br>
        {% endfor %}
    </div> -->
    
    <!-- ##### Hero Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script type="text/javascript">
        var myDjangoList = (("{{word |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
                    return {
                        l   : '<',
                        g   : '>',
                        quo : '"'
                    }[b];
                }));

        myDjangoList = myDjangoList.replace(/u'/g, '\'')
        myDjangoList = myDjangoList.replace(/'/g, '\"')
        myData = JSON.parse( myDjangoList );

        var DjangoList = (("{{definition |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
                    return {
                        l   : '<',
                        g   : '>',
                        quo : '"'
                    }[b];
                }));

        DjangoList = DjangoList.replace(/u'/g, '\'')
        DjangoList = DjangoList.replace(/'/g, '\"')
        mydef = JSON.parse( DjangoList );

        const card = document.querySelector("#card");
        const front = document.querySelector(".front");
        const back = document.querySelector(".back");
        const next = document.querySelector("#next");
        const prev = document.querySelector("#prev");
        const count = document.querySelector("#count");
        const endpoint =
          "https://gist.githubusercontent.com/cahdeemer/90a32410656e2aa33d29b694bc28ab08/raw/4c7ae385f4f1c1ec7c42ef0154f927ace3d3f12e/interview_prep.json";
        const questions = [];
        const answer = [];
        let current = 0;
        let turned = false;

        //remember that fetch doesn't return the data, fetch returns a promise
        fetch(endpoint)
          //blog.json also returns a promise
          .then(blob => blob.json())
          //using spread operator means that we don't get an nested arrays, we just get an array
          .then(data => questions.push(...myData))
          .then(data => answer.push(...mydef))
          //we set the initial state after data is ready
          .then(populateNextCard);

        
        function resetCard() {
          prev.disabled = false;
          next.disabled = false;
          card.classList.remove("turned");
        }

        function populateNextCard() {
          resetCard();
          front.innerHTML = `<p>${questions[current]}</p>`;
          back.innerHTML = `<p>${answer[current]}</p>`;
          count.innerHTML = `<p>${[current + 1]} / ${questions.length}</p>`;
          current++;
        }

        function getNextCard() {
          if (current < questions.length) {
            populateNextCard();
          } else {
            next.disabled = true;
          }
        }

        function getPrevCard() {
          if (current > 1) {
            resetCard();
            front.innerHTML = `<p>${questions[current - 2].question}</p>`;
            back.innerHTML = `<p>${questions[current - 2].answer}</p>`;
            count.innerHTML = `<p>${[current - 1]} / ${questions.length}</p>`;
            current--;
          } else {
            prev.disabled = true;
          }
        }

        function toggleTurn(e) {
          turned = !turned;
          if (turned) {
            this.classList.add("turned");
          } else {
            this.classList.remove("turned");
          }
        }

        card.addEventListener("click", toggleTurn);
        next.addEventListener("click", getNextCard);
        prev.addEventListener("click", getPrevCard);

        
    </script>
    <script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>

    <script src="../static/js/main.js"></script>
</body>

</html>
