<!DOCTYPE html>
<html lang="en">
{% load  static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Clever - Education &amp; Courses Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="../../static/styleflash.css">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="#">Categories</a>
                                    <ul class="dropdown">
                                        <li><a href="/word">Word</a></li>
                                        <li><a href="/word/phrase">Phrase</a></li>
                                        <li><a href="/word/card">Card</a></li>
                                        <li><a href="/word/test">Test</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Search Button -->
                            <!-- <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div> -->

                            <!-- Register / Login -->
                            <div class="register-login-area">
                                <a href="#" class="btn">Register</a>
                                <a href="index-login.html" class="btn active">Login</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
<div class="clever-catagory blog-details bg-img d-flex align-items-center justify-content-center p-3 height-400" style="background-image: url(img/blog-img/7.jpg);">
        <div class="blog-details-headline">
            <h3>English Grammar</h3>
            <div class="meta d-flex align-items-center justify-content-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
            </div>
        </div>
    </div>
    <!-- ##### Catagory Area End ##### -->

    <!-- ##### Blog Details Content ##### -->
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post A Comment -->
                <div class="col-12 col-lg-6">
                    <div class="post-a-comments mb-70">
                        <h4>Let's choose card name now </h4>

                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="form-group">
                                        <input name = "card_name" type="text" class="form-control" id="text" placeholder="Card Name">

                                        <button class="btn clever-btn w-100" type= "submit" onclick="" name = "find_card">submit</button>
                                    </div>
                                </div>
                                <br>
                                {% if message != "" %}
                                <h3><br>{{ message }}</h3>
                                {% else %}
                                <h3>{{ message }}</h3>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>


                <div class="col-12">
                    <div class="load-more text-center mt-50">
                        <a href="#" class="btn clever-btn btn-2">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    {% if message == "find it" %}
    <!-- ##### Top Teacher Area Start ##### -->
        <section class="top-teacher-area section-padding-0-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>START YPUR TESTING</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Teacher -->
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="single-instructor d-flex align-items-center mb-30">
                            <div class="instructor-thumb">
                                <img src="img/bg-img/t1.png" alt="">
                            </div>
                            {% for i in all_word %}
                            <div class="instructor-info">
                                <h5>{{i.word.name}}</h5>
                                <!-- <form action="#" method="post"> -->
                                    <!-- {% csrf_token %} -->
                                    <input type="text" id="{{i.word.id}}">
                                    <button onclick="checkAnswer(document.getElementById('{{i.word.id}}').value,'{{i.word.id}}')"> check </button>
                                    <!-- <input type="text" name = "enter_answer" placeholder="answer">
                                     <button class="btn clever-btn w-100" type= "submit" name="with_answer" value = {{i.word.id}}>submit</button>
                                     <input onclick="" ></button>
                                </form> -->
                                <!-- {% if correct == 1%}
                                    <h4>you are correct!</h4>
                                {% elif correct == 2 %}
                                    <h4> you are wrong </h4>
                                {% endif %} -->
                            </div>
                            {% endfor %}
                            <p id ="checking"></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- ##### Top Teacher Area End ##### -->
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="#"><span>Email:</span> info@clever.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <p id="start"></p>
    <script>
        var all_word_answer = "{{ all_word_answer |safe}}";
        var answer = []
        var state = 0
        var temp = ""
        for(i=0;i<all_word_answer.length;i++){
            
            if(state == 0 && all_word_answer[i] == "'" ){
                state = 1;
                i++;
            }
            if(state == 1 && all_word_answer[i] != "'"){
                temp += all_word_answer[i]
            }

            if(state == 1 && all_word_answer[i] == "'"){
                answer.push(temp);
                state = 0;
                temp = "";
            }
        }
        function change_type(thing,setting){
            var myDjangoList = ((thing).replace(/&(l|g|quo)t;/g, function(a,b){
                        return {
                            l   : '<',
                            g   : '>',
                            quo : '"'
                        }[b];
                    }));

            myDjangoList = myDjangoList.replace(/u'/g, '\'')
            myDjangoList = myDjangoList.replace(/'/g, '\"')
            data = JSON.parse( myDjangoList );
            if(setting == 1){
                return data
            }
            else{
                return myDjangoList
            }
            
        }
        function checkAnswer(enter_ans,ans_id){
            var id = Number(ans_id)
            id = id - 19
            if (answer[id] == enter_ans){
                document.getElementById("checking").innerHTML = "you are right!";
            }
            else{
                document.getElementById("checking").innerHTML = "you are wrong!";
            }
            
        }
    </script>
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../static/js/active.js"></script>
</body>

</html>