<!DOCTYPE html>
<html lang="en">
{% load  static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
   <title>Word-card</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="../../static/styleflash.css">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="#">Categories</a>
                                    <ul class="dropdown">
                                        <li><a href="/word">Word</a></li>
                                        <li><a href="/word/phrase">Phrase</a></li>
                                        <li><a href="/word/card">Card</a></li>
                                        <li><a href="/word/test">Test</a></li>
                                        <li><a href="/exam">Exam</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Search Button -->
                            <!-- <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div> -->

                            <!-- Register / Login -->
                            <div class="register-login-area">
                                <a class="btn active">Hi {{ user.username }}!</a>
                                <button onclick="location.href='/account/logout'" class="btn clever-btn">Logout</button>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- <div class="clever-catagory blog-details bg-img d-flex align-items-center justify-content-center p-3 height-400" style="background-image: url(img/blog-img/7.jpg);">
        <div class="blog-details-headline">
            <h3>English Grammar</h3>
            <div class="meta d-flex align-items-center justify-content-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
            </div>
        </div>
    </div> -->
    <!-- ##### Catagory Area End ##### -->

    <!-- ##### Blog Details Content ##### -->
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post A Comment -->
                <div class="col-12 col-lg-6">
                    <div class="post-a-comments mb-70">
                        <h4>Let's choose card name now </h4>

                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="form-group">
                                        <input id = "card_name" name = "card_name" type="text" class="form-control" id="text" placeholder="Card Name" autocomplete="off">

                                        <button class="btn clever-btn w-100" type= "submit" onclick="" name = "find_card">submit</button>
                                    </div>
                                </div>
                                <br>
                                {% if message != "" %}
                                <h3><br></h3>
                                {% else %}
                                <h3>{{ message }}</h3>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
    {% csrf_token %}
    {% if message == "find it" %}
    <!-- ##### Top Teacher Area Start ##### -->
        <section class="top-teacher-area section-padding-0-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>START YOUR TESTING</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Teacher -->
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="single-instructor d-flex align-items-center mb-30">
                            <div class="instructor-thumb">
                                <img src="img/bg-img/t1.png" alt="">
                            </div>
                            {% for i in all_word %}
                            <div class="instructor-info">
                                <center><h5>{{i.word.name}}</h5></center>
                                <p>  正確比率: {{i.corpercent}}</p>
                                <!-- <form action="#" method="post"> -->
                                    <!-- {% csrf_token %} -->
                                    <input type="text" id="{{i.word.id}}" style=" margin-bottom:10px;">
                                    <button class="btn clever-btn w-40" onclick="checkAnswer(document.getElementById('{{i.word.id}}').value,'{{i.word.id}}')"> check </button>
                                    <!-- <input type="text" name = "enter_answer" placeholder="answer">
                                     <button class="btn clever-btn w-100" type= "submit" name="with_answer" value = {{i.word.id}}>submit</button>
                                     <input onclick="" ></button>
                                </form> -->
                                <!-- {% if correct == 1%}
                                    <h4>you are correct!</h4>
                                {% elif correct == 2 %}
                                    <h4> you are wrong </h4>
                                {% endif %} -->
                            </div>
                            {% endfor %}
                            <br><br><br>
                            <form action="#" method="post">
                                {% csrf_token %}
                                <input id = "test_time" type="hidden" name = "test_time"></input>
                                <input id = "wrong_time" type="hidden" name = "wrong_time"></input>
                                <input id = "card_n" type="hidden" name = "card_n"></input>
                                <button onclick = "counting()" class="btn clever-btn w-100" type= "submit" name = "update_times">result submit</button>
                            </form>
                            <p id="checking"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- ##### Top Teacher Area End ##### -->
        <!-- Bottom Footer Area -->
        
    <p id="start"></p>
    <script>
        var all_word_answer = "{{ all_word_answer |safe}}";
        var answer = []
        var state = 0
        var temp = ""
        var wrong_time = []
        var test_time = []
        var card_n = "{{card_name}}"
        for(i=0;i<all_word_answer.length;i++){
            wrong_time[i] = 0;
            test_time[i] = 0;
        }
        for(i=0;i<all_word_answer.length;i++){
            if(state == 0 && all_word_answer[i] == "'" ){
                state = 1;
                i++;
            }
            if(state == 1 && all_word_answer[i] != "'"){
                temp += all_word_answer[i]
            }

            if(state == 1 && all_word_answer[i] == "'"){
                answer.push(temp);
                state = 0;
                temp = "";
            }
        }
        function change_type(thing,setting){
            var myDjangoList = ((thing).replace(/&(l|g|quo)t;/g, function(a,b){
                        return {
                            l   : '<',
                            g   : '>',
                            quo : '"'
                        }[b];
                    }));

            myDjangoList = myDjangoList.replace(/u'/g, '\'')
            myDjangoList = myDjangoList.replace(/'/g, '\"')
            data = JSON.parse( myDjangoList );
            if(setting == 1){
                return data
            }
            else{
                return myDjangoList
            }
            
        }
        function checkAnswer(enter_ans,ans_id){
            var id = Number(ans_id)
            id = id - 19
            if(enter_ans != ""){
                if (answer[id] == enter_ans){
                    document.getElementById("checking").innerHTML = "you are right!";
                    test_time[id] += 1;
                }
                else{
                    document.getElementById("checking").innerHTML = "you are wrong!";
                    wrong_time[id] += 1;
                    test_time[id] += 1;
                }
            }
            else{
                document.getElementById("checking").innerHTML = "please enter!";
            }
            
            
            
        }
        function counting(){
            document.getElementById("test_time").value = test_time;
            document.getElementById("wrong_time").value = wrong_time;
            document.getElementById("card_n").value = card_n;
        }
        

    </script>
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../static/js/active.js"></script>
</body>

</html>